:host {
  padding: 0em;
  display: flex;
  flex-flow: column;
}

:host > section.root {
  flex: 1 1;
  margin: 0;
  padding: 0.25em;
}

h3 {
  margin-top: 0;
}

#td-title-state {
  text-align: center;
  vertical-align: middle;
}

#td-btn-delete-state {
  text-align: right;
  vertical-align: middle;
  margin-right: 5px;
}

#inputItem {
  width: 95%;
}

#items {
  margin-top: 10px;
  margin-bottom: 10px;
}

